/* Barra de navegación */
.navegacion {
    scroll-snap-align: center;
    scroll-snap-stop: always;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    margin: 0;
    list-style: none;
    padding: 1rem;

    a {
        color: map-get($colores, blanco);
        text-decoration: none;
        font-size: 1.4rem;
        font-weight: 700;
        
        &:hover {
            color: map-get($colores, oscuro);
        }
    }
}

.navegacion-chica {
    display: none;
}

.nav-bg {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

.list-item {
    @extend .boton;
    position: relative;
    display: block;
    width: 15rem;
    background-color: #39AEA9;
    transition: all 0.25s linear;

    &:hover {
        box-shadow: -6px 6px map-get($colores, oscuro);
        color: map-get($colores, oscuro);
        transform: translate(0.4em, -0.4em);
    }
}

/* Responsive para barra de navegación */
@include tablet {
    .navegacion {
        display: none;
    }

    .navegacion-chica {
        display: block;
    }
}

.nabvar__redes {
    display: flex;
    flex-direction: column;
}

.titulo__pagina {
    text-align: center;
}