/* Slider */
.texto-carrusel {
    color: #fff;
    font-size: 6vw;
    line-height: 1.2;
    margin: 0.5em 0 0em;
    text-shadow: 1px 1px 1px #333;
    text-align: start;
  }
  
  .texto-frase-carrusel {
    text-align: end;
    text-shadow: 1px 1px 1px #333;
  }
  
  @media (min-width: 67.1875em) {
    .texto-carrusel {
      font-size: 4em;
    }
  }
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
  
  .wrap {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: #120103;
    color: #fff;
    text-align: center;
  }
  
  .lista-carrusel {
    background: #3E474F;
    box-shadow: 0 0.5em 1em #111;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100%;
    font-size: small;
    
    label {
        color: #788188;
        cursor: pointer;
        display: inline-block;
        line-height: 4.25em;
        font-size: 0.75em;
        font-weight: bold;
        padding: 0 1em;
    }

    &:hover {
        background: #2e353b;
    }
  }
  
  .carrusel {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    padding: 8em 1em 0;
    background-color: #120103;
    background-position: 50% 50%;
    background-size: cover;
    transition: left 0s 0.75s;
  }
  /********* Index ****************************/
  .carrusel-one {
    background-image: url("../img/bosques-slider.jpg");
  }
  .carrusel-two {
    background-image: url("../img/cascada-slider.jpg");
  }
  .carrusel-three {
    background-image: url("../img/rios-slider.jpeg");
  }
  .carrusel-four {
    background-image: url("../img/senderismo-slider.jpeg");
  }
  .carrusel-five {
    background-image: url("../img/alpinismo-slider.jpg");
  }
 
  [id^=carrusel]:checked + .carrusel {
    left: 0;
    z-index: 100;
    transition: left 0.65s ease-out;
    
    h1 {
        opacity: 1;
        transform: translateY(0);
        transition: all 0.5s 0.5s;
      }
  }

/************* Slider Excursiones ****************/
.container{
  margin: auto;
}

.slider, .slider-item, .menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.slider{
  position: relative;
  width: 95%;
  height: 95%;
}

ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
}

ul.slider li img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul.slider li:first-child {
    opacity: 1; /*Mostramos el primer <li>*/
}

ul.slider li:target {
    opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
}

.menu{
  text-align: center;
  margin: 2rem;
}

.menu li{
  display: inline-block;
  text-align: center;
}

.menu li a{
  display: inline-block;
  text-decoration: none;
  background-color: grey;
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  border-radius: 100%;
}

/********/

.slide, .slide2, .slide3,
.slide4, .slide5, .slide6,
.slide7, .slide8, .slider9 {
  position: relative;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
  margin: 2rem;
  height: calc( 300px + 20em);
  border-radius: $borde-redondo; 
}
.slide-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: calc( 300px + 20em);
  border-radius: $borde-redondo;
}
.slide-open:checked + .slide-item {
  position: static;
  opacity: 100;
}
.slide-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity .05s ease-out;
  transition: opacity .05s ease-out;
  border-radius: $borde-redondo;  
}
.slide-item img {
  display: block;
  height: calc( 300px + 20em);
  max-width: 100%;
}
.slide-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}
.slide-control.prev {
  left: 2%;
}
.slide-control.next {
  right: 2%;
}
.slide-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}
#slideLosPuestos-1:checked ~ .control-1,
#slideLosPuestos-2:checked ~ .control-2,
#slideLosPuestos-3:checked ~ .control-3,
#slideLosPuestos-4:checked ~ .control-4,
#slideLosPuestos-5:checked ~ .control-5,
#slideLosPuestos-6:checked ~ .control-6,
#slideLosPuestos-7:checked ~ .control-7,

#slideCondor-1:checked ~ .control-1,
#slideCondor-2:checked ~ .control-2,
#slideCondor-3:checked ~ .control-3,
#slideCondor-4:checked ~ .control-4,
#slideCondor-5:checked ~ .control-5,
#slideCondor-6:checked ~ .control-6,
#slideCondor-7:checked ~ .control-7,

#slideSalto-1:checked ~ .control-1,
#slideSalto-2:checked ~ .control-2,
#slideSalto-3:checked ~ .control-3,
#slideSalto-4:checked ~ .control-4,
#slideSalto-5:checked ~ .control-5,
#slideSalto-6:checked ~ .control-6,

#slideIndio-1:checked ~ .control-1,
#slideIndio-2:checked ~ .control-2,
#slideIndio-3:checked ~ .control-3,
#slideIndio-4:checked ~ .control-4,
#slideIndio-5:checked ~ .control-5,

#slidePalmar-1:checked ~ .control-1,
#slidePalmar-2:checked ~ .control-2,
#slidePalmar-3:checked ~ .control-3,
#slidePalmar-4:checked ~ .control-4,
#slidePalmar-5:checked ~ .control-5, 

#slideGomez-1:checked ~ .control-1,
#slideGomez-2:checked ~ .control-2,
#slideGomez-3:checked ~ .control-3,
#slideGomez-4:checked ~ .control-4,

#slideHondo-1:checked ~ .control-1,
#slideHondo-2:checked ~ .control-2,
#slideHondo-3:checked ~ .control-3,
#slideHondo-4:checked ~ .control-4,
#slideHondo-5:checked ~ .control-5,

#slideCumbre-1:checked ~ .control-1,
#slideCumbre-2:checked ~ .control-2,
#slideCumbre-3:checked ~ .control-3,
#slideCumbre-4:checked ~ .control-4,
#slideCumbre-5:checked ~ .control-5,
#slideCumbre-6:checked ~ .control-6 {
  display: block;
}
.slide-indicador {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}
.slide-indicador li {
  display: inline-block;
  margin: 0 5px;
}
.slide-circulo {
  color: $blanco;
  cursor: pointer;
  display: block;
  font-size: 35px;
}
.slide-circulo:hover {
  color: #006400;
}
#slideLosPuestos-1:checked ~ .control-1 ~ .slide-indicador 
    li:nth-child(1) .slide-circulo,
#slideLosPuestos-2:checked ~ .control-2 ~ .slide-indicador 
    li:nth-child(2) .slide-circulo,
#slideLosPuestos-3:checked ~ .control-3 ~ .slide-indicador 
    li:nth-child(3) .slide-circulo,
#slideLosPuestos-4:checked ~ .control-4 ~ .slide-indicador 
    li:nth-child(4) .slide-circulo,
#slideLosPuestos-5:checked ~ .control-5 ~ .slide-indicador 
    li:nth-child(5) .slide-circulo,
#slideLosPuestos-6:checked ~ .control-6 ~ .slide-indicador 
    li:nth-child(6) .slide-circulo,
#slideLosPuestos-7:checked ~ .control-7 ~ .slide-indicador 
    li:nth-child(7) .slide-circulo,
    
#slideCondor-1:checked ~ .control-1 ~ .slide-indicador 
    li:nth-child(1) .slide-circulo,
#slideCondor-2:checked ~ .control-2 ~ .slide-indicador 
    li:nth-child(2) .slide-circulo,
#slideCondor-3:checked ~ .control-3 ~ .slide-indicador 
    li:nth-child(3) .slide-circulo,
#slideCondor-4:checked ~ .control-4 ~ .slide-indicador 
    li:nth-child(4) .slide-circulo,
#slideCondor-5:checked ~ .control-5 ~ .slide-indicador 
    li:nth-child(5) .slide-circulo,
#slideCondor-6:checked ~ .control-6 ~ .slide-indicador 
    li:nth-child(6) .slide-circulo,
#slideCondor-7:checked ~ .control-7 ~ .slide-indicador 
    li:nth-child(7) .slide-circulo,
     
#slideSalto-1:checked ~ .control-1 ~ .slide-indicador 
    li:nth-child(1) .slide-circulo,
#slideSalto-2:checked ~ .control-2 ~ .slide-indicador 
    li:nth-child(2) .slide-circulo,
#slideSalto-3:checked ~ .control-3 ~ .slide-indicador 
    li:nth-child(3) .slide-circulo,
#slideSalto-4:checked ~ .control-4 ~ .slide-indicador 
    li:nth-child(4) .slide-circulo,
#slideSalto-5:checked ~ .control-5 ~ .slide-indicador 
    li:nth-child(5) .slide-circulo,
#slideSalto-6:checked ~ .control-6 ~ .slide-indicador 
    li:nth-child(6) .slide-circulo,
    
#slideIndio-1:checked ~ .control-1 ~ .slide-indicador 
    li:nth-child(1) .slide-circulo,
#slideIndio-2:checked ~ .control-2 ~ .slide-indicador 
    li:nth-child(2) .slide-circulo,
#slideIndio-3:checked ~ .control-3 ~ .slide-indicador 
    li:nth-child(3) .slide-circulo,
#slideIndio-4:checked ~ .control-4 ~ .slide-indicador 
    li:nth-child(4) .slide-circulo,
#slideIndio-5:checked ~ .control-5 ~ .slide-indicador 
    li:nth-child(5) .slide-circulo,
    
#slidePalmar-1:checked ~ .control-1 ~ .slide-indicador 
    li:nth-child(1) .slide-circulo,
#slidePalmar-2:checked ~ .control-2 ~ .slide-indicador 
    li:nth-child(2) .slide-circulo,
#slidePalmar-3:checked ~ .control-3 ~ .slide-indicador 
    li:nth-child(3) .slide-circulo,
#slidePalmar-4:checked ~ .control-4 ~ .slide-indicador 
    li:nth-child(4) .slide-circulo,
#slidePalmar-5:checked ~ .control-5 ~ .slide-indicador 
    li:nth-child(5) .slide-circulo,
    
#slideGomez-1:checked ~ .control-1 ~ .slide-indicador 
    li:nth-child(1) .slide-circulo,
#slideGomez-2:checked ~ .control-2 ~ .slide-indicador 
    li:nth-child(2) .slide-circulo,
#slideGomez-3:checked ~ .control-3 ~ .slide-indicador 
    li:nth-child(3) .slide-circulo,
#slideGomez-4:checked ~ .control-4 ~ .slide-indicador 
    li:nth-child(4) .slide-circulo,
    
#slideHondo-1:checked ~ .control-1 ~ .slide-indicador 
    li:nth-child(1) .slide-circulo,
#slideHondo-2:checked ~ .control-2 ~ .slide-indicador 
    li:nth-child(2) .slide-circulo,
#slideHondo-3:checked ~ .control-3 ~ .slide-indicador 
    li:nth-child(3) .slide-circulo,
#slideHondo-4:checked ~ .control-4 ~ .slide-indicador 
    li:nth-child(4) .slide-circulo,
#slideHondo-5:checked ~ .control-5 ~ .slide-indicador 
    li:nth-child(5) .slide-circulo,

#slideCumbre-1:checked ~ .control-1 ~ .slide-indicador 
    li:nth-child(1) .slide-circulo,
#slideCumbre-2:checked ~ .control-2 ~ .slide-indicador 
    li:nth-child(2) .slide-circulo,
#slideCumbre-3:checked ~ .control-3 ~ .slide-indicador 
    li:nth-child(3) .slide-circulo,
#slideCumbre-4:checked ~ .control-4 ~ .slide-indicador 
    li:nth-child(4) .slide-circulo,
#slideCumbre-5:checked ~ .control-5 ~ .slide-indicador 
    li:nth-child(5) .slide-circulo,
#slideCumbre-6:checked ~ .control-6 ~ .slide-indicador 
    li:nth-child(6) .slide-circulo {
  color: #556B2F;
}

#titulo {
  width: 100%;
  position: absolute;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  font-size: 27px;
  color: $blanco;
  z-index: 9999;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
       -1px 0px 2px rgba(255, 255, 255, 0);
}